body {
  margin: 0;
  }

.container {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
  margin-top: 10%;
}

ul {
  list-style:none;
}

li {
  margin-bottom: 5px;
}

.todo-span {
  word-wrap: break-word;
  font-size: 20px;
  font-family: Geogia;
  font-weight: 400;
  color: hotpink;

}

.d-flex {
  display: flex !important;
}

.align-items-center {
  align-items: center !important;
}

.masthead-heading {
  font-size: 2.75rem;
  line-height: 2.75rem;
}

.masthead-subheading {
  font-size: 1.25rem;
  max-width: 50%;
}

.divider-custom {
  margin: 1.25rem 0 1.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
    display: none;
}

.box {
    width: 60%;
    height: 200px;
    margin-top: 15px;
    text-align: center;
    overflow: auto;

}

.bg {
    position:absolute;
    width: 110%;
    height: 110%;
    left: 0px;
    top: 0px;
    right:0px;
    bottom:0px;
    z-index: -1;
    opacity:80%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    }

.clock-position {
  position: absolute;
  /* top: 50%; */
  left: 50%;
  transform: translate(-50%, 30%);
}

.clock-size {
    font-size: 100px;
}

.input-box {
    border: none; 
    background: transparent;
    font-size: 1.25rem;
    text-align: center;
}

.login-btn {
    text-align: center
}

.btn-style {
    border: none; 
    background: transparent;
    margin-top: 5px;
}
.weather-box {
    margin-top: 3%;
    font-weight: 20px;
    text-align: center;
}

ul{
    list-style:none;
    }

.todo-cancel {
    background-color: transparent;
    border: none;
    margin-left: 10px;
    color: purple;
    font-size: 20px;
}

@media (min-width: 576px) {
    .container-sm, .container {
      max-width: 540px;
    }
    .container-md, .container-sm, .container {
        max-width: 720px;
      }
  
      .d-flex {
        display: flex !important;
      }
  
      .masthead-heading {
        font-size: 4rem;
        line-height: 3.5rem;
      }
  
      .masthead-subheading {
        font-size: 1.25rem;
      }
  
      .divider-custom {
        margin: 1.25rem 0 1.5rem;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .bg {
        position:absolute;
        width: 110%;
        height: 120%;
        left: 0px;
        top: 0px;
        right:0px;
        bottom:0px;
        z-index: -1;
        opacity:80%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        }
  }
  @media (min-width: 768px) {
    .container-md, .container-sm, .container {
      max-width: 720px;
    }
    .d-flex {
      display: flex !important;
    }

    .masthead-heading {
      font-size: 4rem;
      line-height: 3.5rem;
    }

    .masthead-subheading {
      font-size: 1.25rem;
    }

    .divider-custom {
      margin: 1.25rem 0 1.5rem;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .bg {
        position:absolute;
        width: 110%;
        height: 120%;
        left: 0px;
        top: 0px;
        right:0px;
        bottom:0px;
        z-index: -1;
        opacity:80%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        }
  }
  @media (min-width: 992px) {
    .container-lg, .container-md, .container-sm, .container {
      max-width: 960px;
    }

    .container-md, .container-sm, .container {
        max-width: 720px;
      }
  
      .d-flex {
        display: flex !important;
      }
  
      .masthead-heading {
        font-size: 4rem;
        line-height: 3.5rem;
      }
  
      .masthead-subheading {
        font-size: 1.25rem;
      }
  
      .divider-custom {
        margin: 1.25rem 0 1.5rem;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .bg {
        position:absolute;
        width: 110%;
        height: 110%;
        left: 0px;
        top: 0px;
        right:0px;
        bottom:0px;
        z-index: -1;
        opacity:80%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        }
  }
  @media (min-width: 1200px) {
    .container-xl, .container-lg, .container-md, .container-sm, .container {
      max-width: 1140px;
    }
    .container-md, .container-sm, .container {
        max-width: 720px;
      }
  
      .d-flex {
        display: flex !important;
      }
  
      .masthead-heading {
        font-size: 4rem;
        line-height: 3.5rem;
      }
  
      .masthead-subheading {
        font-size: 1.25rem;
      }
  
      .divider-custom {
        margin: 1.25rem 0 1.5rem;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .bg {
        position:absolute;
        width: 110%;
        height: 110%;
        left: 0px;
        top: 0px;
        right:0px;
        bottom:0px;
        z-index: -1;
        opacity:80%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        }
  }
  @media (min-width: 1400px) {
    .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
      max-width: 1320px;
    }
    .container-md, .container-sm, .container {
        max-width: 720px;
      }
  
      .d-flex {
        display: flex !important;
      }
  
      .masthead-heading {
        font-size: 4rem;
        line-height: 3.5rem;
      }
  
      .masthead-subheading {
        font-size: 1.25rem;
      }
  
      .divider-custom {
        margin: 1.25rem 0 1.5rem;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .bg {
        position:absolute;
        width: 110%;
        height: 100%;
        left: 0px;
        top: 0px;
        right:0px;
        bottom:0px;
        z-index: -1;
        opacity:80%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        }
  }
